{% extends "::base.html.twig" %}

{% block content %}
    <div class="pure-g-r content-ribbon">
        <div class="pure-u-1">
            {% createphp cmfMainContent as="rdf" noautotag %}
            <div class="l-box" {{ createphp_attributes(rdf) }}>
                <h1 {{ createphp_attributes( rdf.title ) }}>{{ cmfMainContent.title }}</h1>
            </div>
            {% endcreatephp %}
        </div>
    </div>

    <div class="pure-g-r content-ribbon">
        {% for speaker in cmfMainContent.children %}
            <a name="{{ speaker.name }}"></a>
            {% createphp speaker as="rdf" noautotag %}
            <div class="pure-u-1" {{ createphp_attributes(rdf) }}>
                <div class="l-box speaker">
                    {% if speaker.portrait %}
                        <img class="portrait" src="{{ speaker.portrait.id | imagine_filter('portrait_large') }}" alt="{{ speaker.fullname }}"/>
                    {% endif %}
                    <h2 {{ createphp_attributes( rdf.fullname ) }}>
                        {{ speaker.fullname }}
                    </h2>
                    <div id="main-content" {{ createphp_attributes(rdf.body) }}>
                        {{ speaker.body|raw }}
                    </div>
                    <h3>{{ 'speaker.presentations'|trans }}</h3>
                    <ul>
                        {% for presentation in speaker.presentations %}
                            <li><a href="{{ path(presentation) }}">{{ presentation.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endcreatephp %}
        {% endfor %}
    </div>
{% endblock %}
