<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ 'site.description'|trans }}">

    <title>{% block title %}{{ 'site.title'|trans }}{% endblock %}</title>

    <link rel="stylesheet" href="/css/pure-min.css">
    <link rel="stylesheet" href="/css/marketing.css">
    <link rel="stylesheet" href="/bundles/dbuconference/css/style.css">
    {% include "CmfCreateBundle::includecssfiles.html.twig" %}
</head>

<body {% if is_granted('ROLE_ADMIN') %}class="admin"{% endif %}>
<div id="body">
    {% block header %}
        <div class="header">
            <div class="pure-menu pure-menu-open pure-menu-fixed pure-menu-horizontal">
                <a class="pure-menu-heading" href="{{ path('/cms/simple') }}">{{ 'site.slogan'|trans }}</a>

                {{ knp_menu_render('simple') }}

                <ul class="user-control">
                {% if is_granted('ROLE_USER') %}
                    <li><a href="{{ path('sonata_admin_dashboard') }}">Admin</a></li>
                    <li> <a href="{{ path('logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ path('login') }}">Login</a></li>
                {% endif %}
                </ul>
            </div>
        </div>
    {% endblock %}

    <div class="content">
        {% block content %}
        {% endblock %}

        {% block content_footer %}
            <div class="l-box ribbon">
                <h2>{{ 'site.action_attend'|trans }}</h2>
                <a href="#" class="pure-button primary-button" onclick="alert('This would show a subscription form. Out of scope for this demo.')">Sign up</a>
            </div>
        {% endblock %}
    </div>

    {% block footer %}
        <div class="footer">
            {{ 'site.description'|trans }}
        </div>
    {% endblock %}
</div>

{% render(controller(
    "cmf_create.jsloader.controller:includeJSFilesAction",
    {'_locale': app.request.locale}
)) %}

</body>
</html>
