{% extends "::base.html.twig" %}

{% block content %}
    <div class="pure-g-r content-ribbon">
        <div class="pure-u">
            {% createphp cmfMainContent as="rdf" noautotag %}
            <div class="l-box" {{ createphp_attributes(rdf) }}>
                <h1 {{ createphp_attributes( rdf.title ) }}>{{ cmfMainContent.title }}</h1>
                <div id="main-content" {{ createphp_attributes(rdf.body) }}>
                    {{ cmfMainContent.body|raw }}
                </div>
            </div>
            {% endcreatephp %}
        </div>
    </div>

    <div class="pure-g-r content-ribbon">
        <div class="pure-u">
            <div class="l-box">
                {{ knp_menu_render('service') }}
            </div>
        </div>
    </div>

{% endblock %}
